// ===== BOX

.boxCober {
  width: 100%; height: auto; padding: 0; margin: 0; @include display(flex); @include flex-direction(row); @include align-items(center); @include justify-content(center);
  & h2 {
    color: $col1; padding: 0; margin: 0 20px 0 0; text-align: center; text-transform: uppercase; @include fluid-type(13px, 17px, 320px, 1200px); line-height: 1; letter-spacing: 2px; font-family: $extrabold;
  }
  & a {

  }
}
.boxZonaDesc {
  width: 100%; height: auto; padding: 0; margin: 0 0 30px; position: relative; @include box-sizing(border-box);
  & h3 {
    color: $col1; margin: 0 0 10px; padding: 0; line-height: 1; text-align: center; font-family: $extrabold; @include fluid-type(16px, 30px, 320px, 1200px);
  }
  & h2 {
    color: $col3; margin: 0 0 20px; padding: 0; line-height: 1; text-align: left; font-family: $extrabold; @include fluid-type(16px, 22px, 320px, 1200px);
  }
  & p {
    color: $col1; margin: 0 0 20px; padding: 0; line-height: 1.2; text-align: center; font-family: $medium; @include fluid-type(13px, 16px, 320px, 1200px);
  }
  &__btns {
    width: 100%; height: auto; padding: 0; margin: 0; @include display(flex); @include flex-direction(row); @include align-items(center); @include justify-content(center);
    & a {
      font-size: rem(10px); padding: 5px 10px 3px; margin: 0 8px 0 0;
      &:last-child {
        margin: 0;
      }
    }
    @media all and (min-width: 480px) {
      & a {
        font-size: rem(12px);
      }
    }
    @media all and (min-width: 768px) {
      & a {
        font-size: rem(13px);
      }
    }
    @media all and (min-width: 992px) {
      & a {
        font-size: rem(10px);
      }
    }
    @media all and (min-width: 1024px) {
      & a {
        font-size: rem(11px);
      }
    }
    @media all and (min-width: 1200px) {
      & a {
        font-size: rem(13px);
      }
    }
  }
  @media all and (min-width: 992px) {
    margin: 0;
    & h1 {
      text-align: left;
    }
    & p {
      text-align: left;
    }
  }
}
.boxZona {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
  &__title {
    margin: 0 0 15px; padding: 8px 0 5px; display: block; width: 100%; height: auto; color: $white; @include box-sizing(border-box); @include fluid-type(12px, 14px, 320px, 1200px); border-radius: 20px; font-family: $semibold; letter-spacing : 0.5px; word-wrap: break-word; background-color: $col2; text-align: center;
  }
  &__desc {
    margin: 0 0 15px; padding: 15px 20px; display: block; width: 100%; height: auto; @include box-sizing(border-box); border-radius: 10px; background-color: $col1; box-shadow: 0 4px 10px rgba($black, 0.25);
    & p {
      color: $white; margin: 0 0 20px; padding: 0; line-height: 1.2; text-align: center; font-family: $thin; @include fluid-type(13px, 18px, 320px, 1200px);
    }
    @media all and (min-width: 768px) {
      min-height: 220px; height: 100%; margin: 0;
    }
  }
  &__btn {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box); text-align: center;
    @media all and (min-width: 768px) {
      @include position(absolute, null null 15px 0);
    }
  }
  @media all and (min-width: 768px) {
    margin: 0;
  }
}

.datosContact {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box); @include display(flex); @include flex-direction(row); @include align-items(center);
  &__img {
    margin: 0; padding: 0; @include box-sizing(border-box); @include flex(1 1 0); position: relative;
    & img {
      width: 90px; height: auto; margin: 0; padding: 0; border: 0; display: block;
    }
  }
  &__desc {
    margin: 0; padding: 0; @include box-sizing(border-box); @include flex(2 1 0); position: relative;
    & p {
      color: $col3; margin: 0; padding: 0; line-height: 1; text-align: left; font-family: $semibold; @include fluid-type(13px, 20px, 320px, 1200px);
    }
  }
}

.descConacto {
  margin: 0 0 30px; padding: 0; display: block; width: 100%; height: auto; @include box-sizing(border-box); position: relative;
  & h2 {
    color: $col1; margin: 0 0 20px; padding: 0; line-height: 1; text-align: center; font-family: $extrabold; @include fluid-type(18px, 40px, 320px, 1200px); letter-spacing: 1.5px;
  }
  & p {
    color: $col3; margin: 0; padding: 0; line-height: 1; text-align: center; font-family: $extrabold; @include fluid-type(13px, 26px, 320px, 1200px);
  }
}

.dudasCt {
  margin: 0 0 30px; padding: 0; display: block; width: 100%; height: auto; @include box-sizing(border-box); position: relative;
  &__title {
    color: $col2; margin: 0; padding: 0; line-height: 1; text-align: center; font-family: $extrabold; @include fluid-type(18px, 30px, 320px, 1200px);;
  }
}
.accDudas {
  & .accordion-item {
    border: none!important; background-color: transparent!important; margin-bottom: 15px;
  }
  & .accordion-header {
    font-family: $semibold;
  }
  & button {
    border-radius: 4px; border: 0; background-color: $col1!important; color: $white!important; box-shadow: none!important; @include fluid-type(12px, 13px, 320px, 1200px);
    &:after {
      content: '\f077'!important; font-family: 'fontAwesome'; color: $col2; text-align: center; background-image: none!important;
    }
  }
  @media all and (min-width: 768px) {
    columns: 2; -webkit-columns: 2; -moz-columns: 2;
  }
}
.listFilterGalerry {
  width: 100%; height: auto; padding: 0; margin: 0 0 40px 0; position: relative; @include box-sizing(border-box);
  ul {
    width: 100%; height: auto; padding: 0; margin: 0; list-style-type: none; @include displayFlex(flex, row, center, center, wrap);
    li {
      list-style-type: none; margin: 0 6px 0; padding: 0;
      a {
        display: inline-block; width: auto; height: 40px; background-color: $white; margin: 0; padding: 0 15px; color: $c2; text-align: center; line-height: 40px; outline: none; font-size: rem(12px); @include transition(all 300ms ease); @include box-sizing(border-box); border-radius: 20px; border: 1px solid $col1; text-decoration: none; font-family: $semibold;
        &:hover {
          background-color: $col1; color: $white;
        }
        &.activeFilter {
          background-color: $col1; color: $white;
        }
      }
      // &:first-child {
      //   a {
      //     @include border-left-radius(20px); @include border-right-radius(0);
      //   }
      // }
      &:last-child {
        margin: 0;
      }
    }
  }
}