/* ==|====================
   Modules/Buttons
   ======================= */

// Botones efecto
.btnFx {
  height: 42px; display: inline-block; position: relative; overflow: hidden; font-size: rem(16px); text-decoration: none; border-radius: 0; -webkit-border-radius: 0; text-transform: uppercase; @include box-sizing(border-box); box-shadow: 0 3px 5px rgba($black, 0.20); text-align: center; line-height: 42px; padding: 0 30px; margin: 0 0 10px; @include transition(all 300ms); border: none; cursor: pointer; font-weight: 300;
  &__generic {
    width: auto; letter-spacing : 0.5px; word-wrap: break-word; color: $white;
    span {
      position: relative; z-index: 2; color: $white;
    }
    &:before {
      content: ''; @include position(absolute, 0 null null 0); z-index: 1; width: 10px; height: 100%; opacity: 1; @include transition(opacity 200ms ease-in, width 300ms ease-in-out);
    }
    &--orange {
      background: $col5;
      &:before {
        background: $col6;
      }
    }
    &--purple {
      background: $col1;
      &:before {
        background: $col2;
      }
    }
    &:hover {
      color: $white!important;
      &:before {
        width: 100%; opacity: 0.35;
      }
    }
    &.disabled, &[data-disabled] {
      pointer-events: none!important; opacity: 0.70; cursor: none;
    }
  }
  @media all and (min-width: 768px) {
    height: 52px; line-height: 52px; padding: 0 30px; margin: 0 0 20px; font-size: rem(18px);
    &__generic {
      letter-spacing : 0.9px;
    }
  }
}

// Botones S/Efecto
.btnGen {
  margin: 0; padding: 5px 18px 3px; @include transition(all 300ms); background-color: transparent; display: inline-block; width: auto; height: auto; color: $white; @include box-sizing(border-box); @include fluid-type(12px, 15px, 320px, 1200px); border-radius: 20px; font-family: $semibold; text-decoration: none;
  &__item {
    letter-spacing : 0.5px; word-wrap: break-word;
    &--yellow {
      background-color: $col2; color: $white; border: 2px solid $col2;
      &:hover, &:focus {
        background-color: $col6; color: $white!important;
      }
    }
    &--yellow-outline {
      background-color: transparent; border: 2px solid $col2; color: $white;
      &:hover {
        background-color: $col2; border-color: $col2; color: $white;
      }
    }
    &--pink {
      background-color: $col1; color: $white; border: 2px solid $col1;
      &:hover, &:focus {
        background-color: $col6; color: $white!important;
      }
    }
    &--gray {
      background-color: $col4; color: $white; border: 2px solid $col4;
      &:hover, &:focus {
        background-color: $col3; color: $white!important;
      }
    }
    &.disabled, &[data-disabled] {
      pointer-events: none!important; opacity: 0.70; cursor: none;
    }
  }
}

.btnSlideProd {
  width: 32px; height: 32px; @include position(absolute, 50% null null null); background-color: rgba($white, 0.20); line-height: 34px; border: none; outline: 0; display: none!important; text-align: center; z-index: 10; font-size: rem(13px); padding: 0; margin: 0; cursor: pointer; color: $white; @include transition(all 0.23s); border-radius: 50%; @include transition(opacity 0.45s ease-in-out, all 300ms ease);
  &:before, &:after {
    font-family: 'LineIcons';
  }
  &:hover {
    color: $col1; border: none; background-color: rgba($white, 0.90);
  }
  &.bLeftP {
    left: 7px; @include transform(translateY(-50%));
    &:before {
      content: '\ea5a';
    }
  }
  &.nRightP {
    right: 7px; @include transform(translateY(-50%));
    &:after {
      content: '\ea5c';
    }
  }
  &.slick-disabled {
    opacity: 0.45; cursor: none; pointer-events: none;
  }
  @media all and (min-width: 640px) {
    display: block!important;
    &.bLeftP {
      left: 10px;
    }
    &.nRightP {
      right: 10px;
    }
  }
  @media all and (min-width: 768px) {
    &.bLeftP {
      left: 5px;
    }
    &.nRightP {
      right: 5px;
    }
  }
  @media all and (min-width: 1280px) {
    &.bLeftP {
      left: 20px;
    }
    &.nRightP {
      right: 20px;
    }
  }
}

