/* ==|====================
   Layout/Header
   ======================= */

.g-header {
  width: 100%; height: auto; @include position(fixed, 0 null null 0); padding: 10px 0; margin: 0; background-color: $white; box-shadow: 0 4px 8px rgba($black, 0.20); z-index: 100;@include transition(transform 200ms ease, all 0.25s); @include display(flex);
  &.activeHead {
    background-color: $white; top: 0;
  }
}
