/* ==|====================
   Layout/Header
   ======================= */

.g-header {
  width: 100%; height: auto; @include position(fixed, 0 null null 0); padding: 10px 0; margin: 0; background-color: rgba($col6, 0.70); box-shadow: none; z-index: 100;@include transition(transform 200ms ease, all 0.25s); @include display(flex);
  &.activeHead {
    background-color: $col1; top: 0; box-shadow: 0 4px 8px rgba($black, 0.20);
  }
}
  
.brand {
  width: 100%; height: auto; padding: 0; margin: 0;
  & a {
    display: inline-block; padding: 0; margin: 0; opacity: 1; @include transition(opacity 2.5s ease 0.75s); @include animation(none);
    & img {
      display: block; width: 100%; max-width: 35px; height: auto; margin: 0 auto 0 0; padding: 0;
    }
    & .site-title {
      font-size: 0; text-indent: -9999px; color: $white; opacity: 0; margin: 0; padding: 0;
    }
    body.is-preload & {
      opacity: 0;
    }
  }
}

.menuMain {
  width: 100%; height: auto; padding: 0; margin: 0 0 0 0;
  nav {
    width: 100%; height: auto; padding: 0; margin: 0 0 0 0;
    ul {
      width: 100%; height: auto; padding: 0; margin: 0 0 0 0; list-style-type: none; @include displayFlex(flex, row, flex-end, center, wrap);
      li {
        list-style-type: none; padding: 0; margin: 0 25px 0 0; position: relative;
        &.menuIemHover {
          & > a {
            position: relative;
            &:before {
              content: ''; width: 0; height: 3px; padding: 0 0; margin: 0 0 0 0; background-color: $col4; @include position(absolute, null null -10px 0); @include transition(all 0.25s ease);
            }
          }
          &:hover {
            & > a {
              color: $white;
              &:before {
                width: 100%;
              }
            }
          }
        }
        &.btnMenu {
          & > a {
            margin: 0; padding: 5px 13px 3px; @include transition(all 300ms); background-color: transparent; display: inline-block; width: auto; height: auto; border: 2px solid $col2; color: $white; @include box-sizing(border-box); @include fluid-type(12px, 15px, 320px, 1200px); border-radius: 16px;
            &:hover {
              background-color: $col2; border-color: $col2;
            }
          }
        }
        &.menu-item-has-children {
          & > a {
            &:after {
              content: '\f0d7'; font-family: 'fontAwesome'; width: 15px; height: 12px; font-size: rem(12px); @include position(absolute, 0 -17px null null); text-align: center; line-height: 12px; color: $col2;
            }
          }
        }
        & a {
          color: $white; margin: 0; padding: 0; text-decoration: none; font-family: $medium; @include fluid-type(11px, 13px, 320px, 1200px);
          &:hover {
            color: $white;
          }
          // &:link, &:visited {
          //   color: $col1;
          // }
          // &:active {
          //   color: $c3;
          // }
        }
        &.activo {
          & > a {
            color: $col1;
            &:before {
              width: 100%;
            }
          }
        }
        &:last-child {
          margin: 0 0 0 0;
        }
        &.activo {
          a {
            color: $col1;
          }
        }
        & > .sub-menu {
          width: 200px; height: auto!important; padding: 0; margin: 0; background-color: $white; @include position(absolute, 100% null null 50%); @include transform(translateX(-50%)); z-index: 90; @include displayFlex(flex, column, center, center, wrap); border-radius: 0; display: none; @include transition(all 0.30s ease);
          li {
            padding: 0; margin: 0 auto; display: block; border-bottom: 0.6px solid rgba($col1, 0.30); width: 100%; text-align: left;
            a {
              font-size: rem(13px); text-align: center; color: $col1; display: block; text-align: left; padding: 5px 10px; margin: 0; @include box-sizing(border-box);
              &:before {
                display: none;
              }
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
        &:hover {
          & > .sub-menu {
            display: block;
          }
        }
      }
    }
  }
}

.menu-mobile-btn {
  width: 40px; height: 40px; display: block; margin: 0 0 0 auto; padding: 0; position: relative; border: none; @include box-sizing(border-box); background-color: transparent; cursor: pointer;
  span {
    width: 15px; height: 2px; @include position(absolute, 50% 8px null null); background-color: $white; @include transform(translateY(-50%)); opacity: 1; @include transition(opacity 0.18s ease-in-out); border-radius: 2px;
  }
  &:before, &:after {
    content: ''; width: 25px; height: 2px; @include position(absolute, null null null 7px); background-color: $white; @include transition(transform 0.25s ease); border-radius: 2px;
  }
  &:before {
    top: 10px; @include transform(rotate(0deg));
  }
  &:after {
    bottom: 10px; @include transform(rotate(0deg));
  }
  &:hover {
    span { opacity: 0; }
    &:before {
      top: 19px; @include transform(rotate(45deg));
    }
    &:after {
      bottom: 19px; @include transform(rotate(-45deg));
    }
  }
  &[data-menu-expand="true"] {
    span { opacity: 0; background-color: $white; }
    &:before {
      top: 19px; @include transform(rotate(45deg));background-color: $white;
    }
    &:after {
      bottom: 19px; @include transform(rotate(-45deg));background-color: $white;
    }
  }
  &[data-menu-expand="false"] {
    span { opacity: 1; }
    &:before {
      top: 10px; @include transform(rotate(0deg));
    }
    &:after {
      bottom: 10px; @include transform(rotate(0deg));
    }
  }
}

// Menu Mobile
.cont-menu-mobile {
  @extend .overlayClass; background-color: rgba($col1, 0.90); z-index: -1; overflow-y: auto;
  .mnuContMob {
    width: 100%; height: auto; padding: 0; margin: 130px 0 0 0;
    ul {
      list-style-type: none; @include displayFlex(flex, column, center, center, nowrap); margin: 10px auto; padding: 0 0; width: 300px;
      li {
        list-style-type: none; width: 100%; height: auto; border-bottom: 1px solid rgba($white, 0.15);
        a {
          display: block; color: $white; text-transform: uppercase; width: 100%; height: 40px; line-height: 40px; background-color: rgba(255,255,255,0.0); text-align: left; @include transition(all 0.25s ease); text-decoration: none; font-family: $medium; font-size: rem(18px);
          &.secondary-menu {
            position: relative;
            &:after {
              content: '\f078'; font-family: 'fontAwesome'; width: 15px; height: 15px; font-size: rem(13px); @include position(absolute, 50% 5px null null); text-align: center; line-height: 15px; @include transform(translateY(-50%));
            }
          }
          &:hover {
            background-color: rgba(255,255,255,0.10);
          }
        }
        & > .sub-menu {
          display: none;
          li {
            a {
              color: $c3; margin: 0 0 0 0; padding: 0; font-size: rem(14px);
              img {
                width: 25px; height: auto;
              }
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .socHead {
    width: 100%; height: auto; padding: 0; margin: 20px 0 10px 0; text-align: center;
    ul {
      padding: 0; margin: 0; list-style-type: none; @include displayFlex(flex, row, center, center, wrap);
      li {
        list-style-type: none; padding: 0; margin: 0 8px 0 0;
        a {
          display: block; width: 35px; height: 35px; font-size: rem(16px); @include transition(all 0.23s ease); background-color: $c4; @include border-top-radius(50%); @include border-bottom-radius(50%); line-height: 35px; text-align: center; position: relative; overflow: hidden;
          &:before, &:after {
            font-family: 'fontAwesome'; @include position(absolute, 0 null null 0); width: 100%; height: 100%; color: $white; @include transition(transform 300ms ease-in-out, all 0.25s);
          }
          &:before { @include transform(translateY(-100%)); }
          &:after { @include transform(translateY(0)); }
          //Clases
          &.tyi-whatsapp { &:before, &:after { content: '\f232'; } }
          &.tyi-facebook { &:before, &:after { content: '\f09a'; } }
          &.tyi-twitter { &:before, &:after { content: '\f099'; } }
          &.tyi-instagram { &:before, &:after { content: '\f16d'; } }
          &.tyi-youtube { &:before, &:after { content: '\f16a'; } }
          //Fin-Clases
          &:hover, &:active {
            background-color: $col1;
            &:before { @include transform(translateY(0)); }
            &:after { @include transform(translateY(100%)); }
          }
        }
        &:last-child {
          margin: 0 0 0 0;
        }
      }
    }
  }
  .toolsMobile {
    width: 100%; height: auto; padding: 0; margin: 20px 0 10px 0; text-align: center;
    a {
      font-size: rem(14px); text-transform: uppercase; margin: 0 10px 0 0; position: relative;
      &:last-child {
        margin: 0 0 0 0;
      } 
    }
  }
}
