/* ==|====================
   Layout/Main
   ======================= */

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 3;
  &.PageContainer {
    min-height: 100vh; @include display(flex); @include flex-direction(column); @include flex-wrap(wrap);
  }
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}

article.maps {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    margin: 50px auto;
    width: 80%;
    box-shadow: 0 0 4px #FFA800;
    text-align: center;
}

#mapa {
    height: 400px;
    padding: 0;
    margin-bottom: 20px;
}
// Slider Section
.hero-sec {
  width: 100%; height: 400px; @include position(relative, null null null null); padding: 0; margin: 0; background-attachment: local; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden; background-color: $col1;
  & .slideCt {
    @include position(absolute, null null 50px 0); width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box); z-index: 3; opacity: 1; @include transition(opacity 1.5s ease 0.55s, transform 0.5s ease-out 0.45s, filter 0.5s ease 0.45s);
    &__slide {
      margin-bottom: 0!important;
    }
    &__box {
      width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
      & .imgFig {
        display: block; width: 100%; max-width: 150px; height: auto; margin: 0 0 25px; padding: 0;
      }
      @media all and (min-width: 768px) {
        & .imgFig {
          max-width: 250px;
        }
      }
      @media all and (min-width: 992px) {
        & .imgFig {
          max-width: 300px;
        }
      }
      @media all and (min-width: 1024px) {
        & .imgFig {
          max-width: 350px;
        }
      }
    }
    &__cap {
      width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
    }
    & .title-hero {
      color: $col2; @include fluid-type(20px, 30px, 320px, 1200px); margin: 0 0 5px; padding: 0; text-align: left; font-family: $extrabold; text-transform: uppercase; line-height: 1;
    }
    & .desc-hero {
      width: 100%; height: auto; padding: 0; margin: 0 auto 20px 0; position: relative; @include box-sizing(border-box); color: $white; text-align: left; @include fluid-type(13px, 27px, 320px, 1200px); font-family: $semibold;
      & p {
        color: $white; margin: 0; padding: 0; font-family: $semibold; @include fluid-type(13px, 27px, 320px, 1200px); line-height: 1;
      }
    }
    &__btn {
      width: 100%; height: auto; padding:0 ; margin: 0; position: relative; @include box-sizing(border-box); text-align: left;
    }
  }
  & .overlayHero {
    @extend .overlayClassAbs; z-index: 1; background-color: rgba($col1, 0.15);
  }
  & .header-title {
    width: 100%; height: 100%; @include position(absolute, 0 0 null null); z-index: 2; background-color: $col3; @include transition(all 0.25s);
  }
  & .scrollNext {
    z-index: 5; @include position(absolute, null null 10px 50%); @include transform(translateX(-50%)); z-index: 3; margin: 0; padding: 60px 0 0;
    & span {
      @include position(absolute, 0 null null 30%); width: 30px; height: 50px; margin-left: -15px; border: 1px solid $white; border-radius: 50px; @include box-sizing(border-box);
      &:before {
        @include position(absolute, 10px null null 50%); content: ''; width: 6px; height: 6px; margin-left: -3px; background-color: $white; border-radius: 100%; -webkit-animation: sdb10 2s infinite; animation: sdb10 2s infinite; @include box-sizing(border-box);
      }
    }
  }
  & .imgHeroAbs {
    @include position(absolute, 0 0 null null); width: 100%; max-width: 660px; height: auto; padding: 0; margin: 0; z-index: 1; opacity: 1; @include transition(opacity 300ms ease-in 1s); display: none;
    @media all and (min-width: 992px) {
      max-width: 545px; display: block;
    }
    @media all and (min-width: 1024px) {
      max-width: 595px;
    }
    @media all and (min-width: 1200px) {
      max-width: 660px;
    }
  }
  & .imgDots {
    @include position(absolute, null 20px 30px null); display: block; width: 100%; max-width: 320px; height: auto; padding: 0; margin: 0; z-index: 2; display: none;
    @media all and (min-width: 992px) {
      max-width: 250px; display: block;
    }
    @media all and (min-width: 1024px) {
      max-width: 290px;
    }
    @media all and (min-width: 1200px) {
      max-width: 320px;
    }
  }
  & .circleAbs {
    @include position(absolute, 40px null null -170px); display: block; width: 100%; max-width: 200px; height: auto; padding: 0; margin: 0; z-index: 2;
  }
  & .triangleAbs {
    @include position(absolute, 80px null null 95%); display: block; width: 100%; max-width: 20px; height: auto; padding: 0; margin: 0; z-index: 3;
    @media all and (min-width: 768px) {
      max-width: 30px;
    }
    @media all and (min-width: 992px) {
      max-width: 30px; top: 160px; left: 50%; @include transform(translateY(-50%));
    }
    @media all and (min-width: 1024px) {
      max-width: 40px; top: 190px;
    }
    @media all and (min-width: 1200px) {
      max-width: 50px; top: 240px;
    }
  }
  & .slick-dots {
    bottom: -25px;
    & li {
      & button {
        width: 10px; height: 10px;
        &:before {
          background-color: rgba($white, 0.50); width: 10px; height: 10px;
        }
        &:after {
          content: ''; @include position(absolute, -4px null null -4px); width: 18px; height: 18px; border-radius: 50%; background-color: transparent; border: 1px solid $white; opacity: 0; @include transition(all 300ms ease);
        }
      }
      &.slick-active {
        & button {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  @media all and (min-width: 768px) {
    height: 450px;
    & .scrollNext {
      bottom: 60px;
    }
  }
  @media all and (min-width: 992px) {
    height: 500px;
  }
  @media all and (min-width: 1024px) {
    height: 550px;
  }
  @media all and (min-width: 1200px) {
    height: 610px;
  }
  body.is-preload & {
    > .slideCt {
      @include transform(translate(-0.5em, -50%)); @include filter(blur(0.125em)); opacity: 0;
		}
    > .imgHeroAbs {
      opacity: 0;
    }
	}
}

// Cobertura
.cobertura-sec {
  width: 100%; height: auto; padding: 25px 0 20px; margin: 0; @include box-sizing(border-box); background-color: $col5;
}

// Zona wifi
.zonawifi-sec {
  width: 100%; height: auto; padding: 40px 0; margin: 0; @include box-sizing(border-box); position: relative; @include linear-gradient($white, $col5);
}

// Beneficios
.beneficios-sec {
  width: 100%; height: 300px; @include position(relative, null null null null); padding: 0; margin: 0; background-position: -450px; background-repeat: no-repeat; background-size: cover; overflow: hidden; background-color: $white;
  & .benefitsCt {
    z-index: 3; @include position(absolute, 50% null null 0); @include transform(translateY(-50%)); width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
    &__box {
      width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
      & h3 {
        color: $col1; margin: 0 0 20px; padding: 0; line-height: 1; text-align: left; font-family: $extrabold; @include fluid-type(18px, 30px, 320px, 1200px); text-transform: uppercase;
      }
      & p {
        color: $col3; margin: 0 0 20px; padding: 0; line-height: 1.2; text-align: left; font-family: $semibold; @include fluid-type(13px, 18px, 320px, 1200px);
      }
    }
    &__btn {
      width: 100%; height: auto; padding:0 ; margin: 0; position: relative; @include box-sizing(border-box); text-align: left;
    }
  }
  & .circleBen {
    @include position(absolute, 50% -170px null null); @include transform(translateY(-50%)); display: block; width: 100%; max-width: 200px; height: auto; padding: 0; margin: 0; z-index: 2;
  }
  @media all and (min-width: 576px) {
    height: 350px;
  }
  @media all and (min-width: 768px) {
    background-position: -160px; height: 400px; background-size: contain;
  }
  @media all and (min-width: 992px) {
    background-position: -70px; height: 460px;
  }
  @media all and (min-width: 1024px) {
    background-position: -50px;
  }
  @media all and (min-width: 1200px) {
    background-position: left;
  }
}
.beneficiosct {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 40px 0; margin: 0; overflow: hidden; background-color: $white;
  &__title {
    color: $col2; margin: 0 0 20px; padding: 0; line-height: 1; text-align: center; font-family: $extrabold; @include fluid-type(18px, 30px, 320px, 1200px);
  }
  &__fig {
    width: 100%; height: auto; padding: 0; margin: 0 0 20px; @include box-sizing(border-box); position: relative; border-radius: 10px; border: 2px solid $col4;
    &--gray {
      border: 2px solid $col4;
    }
    &--pink {
      border: 2px solid $col1;
    }
    @media all and (min-width: 768px) {
      height: 190px;
    }
    @media all and (min-width: 992px) {
      margin: 0; height: 207px;
    }
  }
  &__img {
    display: block; margin: 0 auto; padding: 0; width: 100%; max-width: 90px; height: auto; border: none;
  }
  &__cap {
    margin: 0; padding: 0 15px 15px; display: block; width: 100%; height: auto; @include box-sizing(border-box); text-align: center;
    & p {
      @include fluid-type(10px, 12px, 320px, 1200px); margin: 0; padding: 0;
    }
  }
}