/* ==|====================
   Layout/Main
   ======================= */

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 3;
  &.PageContainer {
    min-height: 100vh; @include display(flex); @include flex-direction(column); @include flex-wrap(wrap);
  }
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}

article.maps {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    margin: 50px auto;
    width: 80%;
    box-shadow: 0 0 4px #FFA800;
    text-align: center;
}

#mapa {
    height: 400px;
    padding: 0;
    margin-bottom: 20px;
}
// Slider Section
.hero-sec {
  width: 100%; height: 400px; @include position(relative, null null null null); padding: 0; margin: 0; background-attachment: local; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden; background-color: $col1;
  & .slideCt {
    @include position(absolute, null null 50px 0); width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box); z-index: 3; opacity: 1; @include transition(opacity 1.5s ease 0.55s, transform 0.5s ease-out 0.45s, filter 0.5s ease 0.45s);
    &__slide {
      margin-bottom: 0!important;
    }
    &__box {
      width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
      & .imgFig {
        display: block; width: 100%; max-width: 150px; height: auto; margin: 0 0 25px; padding: 0;
      }
      @media all and (min-width: 768px) {
        & .imgFig {
          max-width: 250px;
        }
      }
      @media all and (min-width: 992px) {
        & .imgFig {
          max-width: 300px;
        }
      }
      @media all and (min-width: 1024px) {
        & .imgFig {
          max-width: 350px;
        }
      }
    }
    &__cap {
      width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
    }
    & .title-hero {
      color: $col2; @include fluid-type(20px, 30px, 320px, 1200px); margin: 0 0 5px; padding: 0; text-align: left; font-family: $extrabold; text-transform: uppercase; line-height: 1;
    }
    & .desc-hero {
      width: 100%; height: auto; padding: 0; margin: 0 auto 20px 0; position: relative; @include box-sizing(border-box); color: $white; text-align: left; @include fluid-type(13px, 27px, 320px, 1200px); font-family: $semibold;
      & p {
        color: $white; margin: 0; padding: 0; font-family: $semibold; @include fluid-type(13px, 27px, 320px, 1200px); line-height: 1;
      }
    }
    &__btn {
      width: 100%; height: auto; padding:0 ; margin: 0; position: relative; @include box-sizing(border-box); text-align: left;
    }
  }
  & .overlayHero {
    @extend .overlayClassAbs; z-index: 1; background-color: rgba($col1, 0.15);
  }
  & .header-title {
    width: 100%; height: 100%; @include position(absolute, 0 0 null null); z-index: 2; background-color: $col3; @include transition(all 0.25s);
  }
  & .scrollNext {
    z-index: 5; @include position(absolute, null null 10px 50%); @include transform(translateX(-50%)); z-index: 3; margin: 0; padding: 60px 0 0;
    & span {
      @include position(absolute, 0 null null 30%); width: 30px; height: 50px; margin-left: -15px; border: 1px solid $white; border-radius: 50px; @include box-sizing(border-box);
      &:before {
        @include position(absolute, 10px null null 50%); content: ''; width: 6px; height: 6px; margin-left: -3px; background-color: $white; border-radius: 100%; -webkit-animation: sdb10 2s infinite; animation: sdb10 2s infinite; @include box-sizing(border-box);
      }
    }
  }
  & .imgHeroAbs {
    @include position(absolute, 0 0 null null); width: 100%; max-width: 660px; height: auto; padding: 0; margin: 0; z-index: 1; opacity: 1; @include transition(opacity 300ms ease-in 1s); display: none;
    @media all and (min-width: 992px) {
      max-width: 545px; display: block;
    }
    @media all and (min-width: 1024px) {
      max-width: 595px;
    }
    @media all and (min-width: 1200px) {
      max-width: 660px;
    }
  }
  & .imgDots {
    @include position(absolute, null 20px 30px null); display: block; width: 100%; max-width: 320px; height: auto; padding: 0; margin: 0; z-index: 2; display: none;
    @media all and (min-width: 992px) {
      max-width: 250px; display: block;
    }
    @media all and (min-width: 1024px) {
      max-width: 290px;
    }
    @media all and (min-width: 1200px) {
      max-width: 320px;
    }
  }
  & .circleAbs {
    @include position(absolute, 40px null null -170px); display: block; width: 100%; max-width: 200px; height: auto; padding: 0; margin: 0; z-index: 2;
  }
  & .triangleAbs {
    @include position(absolute, 80px null null 95%); display: block; width: 100%; max-width: 20px; height: auto; padding: 0; margin: 0; z-index: 3;
    @media all and (min-width: 768px) {
      max-width: 30px;
    }
    @media all and (min-width: 992px) {
      max-width: 30px; top: 160px; left: 50%; @include transform(translateY(-50%));
    }
    @media all and (min-width: 1024px) {
      max-width: 40px; top: 190px;
    }
    @media all and (min-width: 1200px) {
      max-width: 50px; top: 240px;
    }
  }
  & .slick-dots {
    bottom: -25px;
    & li {
      & button {
        width: 10px; height: 10px;
        &:before {
          background-color: rgba($white, 0.50); width: 10px; height: 10px;
        }
        &:after {
          content: ''; @include position(absolute, -4px null null -4px); width: 18px; height: 18px; border-radius: 50%; background-color: transparent; border: 1px solid $white; opacity: 0; @include transition(all 300ms ease);
        }
      }
      &.slick-active {
        & button {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  @media all and (min-width: 768px) {
    height: 450px;
    & .scrollNext {
      bottom: 60px;
    }
  }
  @media all and (min-width: 992px) {
    height: 500px;
  }
  @media all and (min-width: 1024px) {
    height: 550px;
  }
  @media all and (min-width: 1200px) {
    height: 610px;
  }
  body.is-preload & {
    > .slideCt {
      @include transform(translate(-0.5em, -50%)); @include filter(blur(0.125em)); opacity: 0;
		}
    > .imgHeroAbs {
      opacity: 0;
    }
	}
}
.bannerInt {
  width: 100%; height: 220px; @include position(relative, null null null null); padding: 0 0; margin: 0 auto 0 auto; background-color: $col1; overflow: hidden;
  & .iconBg {
    display: none; width: 100%; max-width: 475px; height: auto; padding: 0; margin: 0; @include position(absolute, -150px -110px null null); z-index: 1;
  }
  & .imgAbsBan {
    display: block; width: 100%; height: auto; padding: 0; margin: 0; @include position(absolute, 0 0 null null); z-index: 2;
  }
  & .titleInt {
    width: 100%; height: auto; padding: 0 0; margin: 0 0; @include position(absolute, null null 25px 0); z-index: 3;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 10px 0; padding: 0; text-align: center; color: $col2; text-transform: uppercase; letter-spacing: 1.5px; @include fluid-type(18px, 38px, 320px, 1200px); font-family: $extrabold; line-height: 1;
    }
    p {
      margin: 0; padding: 0; color: $white; text-align: center; @include fluid-type(18px, 30px, 320px, 1200px); font-family: $semibold; line-height: 1;
    }
    .logoInt {
      display: block; width: 100%; max-width: 250px; height: auto; margin: 0 auto 0 auto; padding: 0 0;
    }
  }
  & .logoBanner {
    width: 100%; height: auto; padding: 0; margin: 0 0 10px; display: block; max-width: 200px; border: 0;
  }
  @media all and (min-width: 576px) {
    height: 250px;
    & .titleInt {
      bottom: 40px;
    }
  }
  @media all and (min-width: 768px) {
    height: 300px;
    & .iconBg {
      max-width: 315px; top: -50px; right: -150px; display: block;
    }
    & .titleInt {
      bottom: 50px;
      h1, h2, h3, h4, h5, h6 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
  }
  @media all and (min-width: 992px) {
    height: 320px;
    & .iconBg {
      max-width: 420px; top: -120px; right: -170px;
    }
  }
  @media all and (min-width: 1200px) {
    height: 360px;
    & .iconBg {
      max-width: 475px; top: -150px; right: -110px;
    }
  }
}

// Cobertura
.cobertura-sec {
  width: 100%; height: auto; padding: 25px 0 20px; margin: 0; @include box-sizing(border-box); background-color: $col5;
}

// Zona wifi
.zonawifi-sec {
  width: 100%; height: auto; padding: 40px 0; margin: 0; @include box-sizing(border-box); position: relative; @include linear-gradient($white, $col5);
}

// Beneficios
.beneficios-sec {
  width: 100%; height: 300px; @include position(relative, null null null null); padding: 0; margin: 0; background-position: -450px; background-repeat: no-repeat; background-size: cover; overflow: hidden; background-color: $white;
  & .benefitsCt {
    z-index: 3; @include position(absolute, 50% null null 0); @include transform(translateY(-50%)); width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
    &__box {
      width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
      & h3 {
        color: $col1; margin: 0 0 20px; padding: 0; line-height: 1; text-align: left; font-family: $extrabold; @include fluid-type(18px, 30px, 320px, 1200px); text-transform: uppercase;
      }
      & p {
        color: $col3; margin: 0 0 20px; padding: 0; line-height: 1.2; text-align: left; font-family: $semibold; @include fluid-type(13px, 18px, 320px, 1200px);
      }
    }
    &__btn {
      width: 100%; height: auto; padding:0 ; margin: 0; position: relative; @include box-sizing(border-box); text-align: left;
    }
  }
  & .circleBen {
    @include position(absolute, 50% -170px null null); @include transform(translateY(-50%)); display: block; width: 100%; max-width: 200px; height: auto; padding: 0; margin: 0; z-index: 2;
  }
  @media all and (min-width: 576px) {
    height: 350px;
  }
  @media all and (min-width: 768px) {
    background-position: -160px; height: 400px; background-size: contain;
  }
  @media all and (min-width: 992px) {
    background-position: -70px; height: 460px;
  }
  @media all and (min-width: 1024px) {
    background-position: -50px;
  }
  @media all and (min-width: 1200px) {
    background-position: left;
  }
}
.beneficiosct {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 40px 0; margin: 0; overflow: hidden; background-color: $white;
  &__title {
    color: $col2; margin: 0 0 20px; padding: 0; line-height: 1; text-align: center; font-family: $extrabold; @include fluid-type(18px, 30px, 320px, 1200px);
  }
  &__fig {
    width: 100%; height: auto; padding: 0; margin: 0 0 20px; @include box-sizing(border-box); position: relative; border-radius: 10px; border: 2px solid $col4;
    &--gray {
      border: 2px solid $col4;
    }
    &--pink {
      border: 2px solid $col1;
    }
    @media all and (min-width: 768px) {
      height: 190px;
    }
    @media all and (min-width: 992px) {
      margin: 0; height: 207px;
    }
  }
  &__img {
    display: block; margin: 0 auto; padding: 0; width: 100%; max-width: 90px; height: auto; border: none;
  }
  &__cap {
    margin: 0; padding: 0 15px 15px; display: block; width: 100%; height: auto; @include box-sizing(border-box); text-align: center;
    & p {
      @include fluid-type(10px, 12px, 320px, 1200px); margin: 0; padding: 0;
    }
  }
}

.telPre-sec{
  &--center{
    width: 100%; height: auto; @include position(relative, null null null null); 
    padding: 0; margin: 0; background-position:center; background-repeat: no-repeat;
    background-size: contain; overflow: hidden; background-color: $white;
    padding-top: 2%; padding-bottom: 2%;
  }
  &--full{
    width: 100%; height: auto; @include position(relative, null null null null); 
    padding: 0; margin: 0; background-position:center; background-repeat: no-repeat;
    background-size: cover; overflow: hidden; background-color: $white;
    padding-top: 2%; padding-bottom: 2%;
  }
  
  &--planSieteDoce{
    background-position: right;
    background-repeat: no-repeat;
    background-color: $col13;
  }
  &__title{
    font-family: $extrabold;
    font-weight: bold;
    &--pink{
      color: $col1;
      font-family: $extrabold;
    }
    &--yellow{
      color: $col2;
      font-family: $extrabold;
    }
  }
  &__desc{
    color: $col11;
    font-family: $regular;
    font-size: 1.2em;
  }
  padding-bottom: 2%;
  img.maskFlechas{
    max-width: 30px;
    top: 240px;
    right: 4%;
    position: absolute;
  }
  
}
.card{
  margin: 1%;
  padding: 0% !important;
  border-radius: 15px;
  height: 100%;
  min-height: 485px;
  &--gray{
    min-height: 325px !important;
  }
  &--pink{
    min-height: 350px !important;
  }
  &__header{    
    &--yellow{
      background-color: $col2;
    }
    &--pink{
      background-color: $col1;
    }
    --bs-gutter-x: 0rem;
    width: 100% important;
    border: none;
    padding: 1rem 1rem .5rem;
    border-radius: 15px 15px 0px 0px !important;
    &__title{
      font-size: 1.5em;
      color: $white;
    }
  }
  box-shadow: 0 4px 10px rgba($black, 0.25);
  &:hover{
    box-shadow: 0 7px 15px rgba($col1, 0.5);
  }
  .card__telPre{
    border-radius: 25px;
    background-color: white;
    
    &__gigas{
      color: $col1;
      text-align: center;
    }
    &__precio{
      color: $col1;
      text-align: center;

    }
    &__detail{
      list-style:none;
      li{
        margin-left: 0% !important;
        font-family: $regular;
          text-align: left;
        &:first-child{
          color: $col1;
          
        }
        & i{
          float: left;
          position: inline;
          margin-right: 6px;
          color: $col1;
        }
        & p{
          font-family: $regular;
          font-size: .75rem;
        }
      }
    }
    &__btn{
      &--pink{
        background-color: $col1;
        border-radius: 50px;
        color: $white;
        border: none;
        width: 150px;
        text-align: center;
        font-family: $regular;
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
        bottom: 20px;
        &:hover{
          background-color: $col2;
        }
      }
      &--yellow{
        background-color: $col2;
        border-radius: 50px;
        color: $white;
        border: none;
        width: 150px;
        text-align: center;
        font-family: $regular;
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
        bottom: 20px;
        &:hover{
          background-color: $col1;
        }
      }
      &--gray{
        background-color: $col4;
        border-radius: 50px;
        color: $white;
        border: none;
        width: 150px;
        text-align: center;
        font-family: $regular;
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
        bottom: 20px;
        &:hover{
          background-color: $col2;
        }
      }
      
      
    }

  }
}
.bannerIntTel  {
  padding: 60px 0; position: relative;
  .telPoints {
      @include position(absolute, null null -30px 30px); display: block; height: auto; padding: 0; margin: 0; z-index: 1; width: 200px;
    }
}
.cardCustom{
  width: 20%;
  &--big{
    width: 23%;
  }
}

// Section Contacto
.contactoDatos-sec {
  width: 100%; height: auto; padding: 40px 0; margin: 0; @include box-sizing(border-box); position: relative; background-color: $white;
  & .icArrows {
    @include position(absolute, 40px null null 40px); display: block; width: 10px; height: auto; padding: 0; margin: 0; z-index: 1;
  }
  & .icCircle {
    @include position(absolute, null 0 0 nul); display: block; width: 100px; height: auto; padding: 0; margin: 0; z-index: 1;
  }
}
.formcontacto-sec {
  width: 100%; height: auto; padding: 30px 0 20px; margin: 0; @include box-sizing(border-box); position: relative; background-attachment: local; background-position: -150px; background-repeat: no-repeat; background-size: contain; background-color: $white; background-image: url('#{$imgR}contacto/bg_contacto.svg');

  & .arrowContact {
    @include position(absolute, 80px 40px null null); display: block; width: 20px; height: auto; padding: 0; margin: 0; z-index: 3;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 992px) {
    }
    @media all and (min-width: 1024px) {
    }
    @media all and (min-width: 1200px) {
      width: 15px; top: 90px; right: 20px;
    }
  }
}


.bannerIntTel{
  &__imgFig{
    max-width: 20%;
  }
  &__desc{
    font-size: 25px !important;
    width: 70%;
  }
  &__Bgs{
    right: -1%;
    position: absolute;
    width: 33%;
    bottom: -24%;
  }

  &__BgsLeft{
    left: -1%;
    position: absolute;
    width: 33%;
    bottom: -24%;
  }

  &__titleSmall{
    color: $white !important;
    font-family: $regular !important;
    font-size: 1.7em !important;
    text-transform: inherit !important;
  }

  &__descAnc{
    color: $col2;
    text-decoration: none;
    font-style: italic;
    font-size: 1.5em;
    font-family: $semibold;
    
    &:hover{
      color: $white;
    }
  }

  img.mask{
    &--Tache{
      max-width: 100px;
      top: 60%;
      right: 38%;
      position: absolute !important;
      width: 60px;
    }

    &--Flechas{
      max-width: 100px;
      top: -105%;
      right: 38%;
      position: absolute !important;
      width: 70px;
    }

    &--FlechasDos{
      max-width: 100px;
      top: 30%;
      right: 6%;
      position: absolute !important;
      width: 20px;
    }

    &--FlechasProc{
      max-width: 100px;
      top: -111%;
      right: 0%;
      position: absolute !important;
      width: 80px;

    }
  }

}

.cobertura-sec{
  background-repeat: no-repeat;
  right: 0%;
}

.Modem-sec{
  background-color: $col1;
  &__img{
    width: 100%;
    max-width: 100%;
  }
  &__cont{
    padding-top: 5%;
  }
  &__title{
    color: $white;
    font-family: $extrabold;
    margin-bottom: 3%;
  }
  &__desc{
    color: $white;
    font-family: $thin;
    font-size: 1.4em;
  }
}

.dudas-sec {
  width: 100%; height: auto; padding: 60px 0 40px; margin: 0; @include box-sizing(border-box); position: relative; @include linear-gradient($col5, $white); overflow: hidden;
  & .duCircle {
    @include position(absolute, null null null null); display: block; height: auto; padding: 0; margin: 0; z-index: 1;
    &__left {
       width: 150px; top: 30px; left: -30px;
    }
    &__right {
       width: 60px; bottom: 30px; right: 30px;
    }
  }
}